<div class="single-todo">
  <h2 class="todo_name"><%= @new_todo.todo_content %></h2>
  <ul>
    <li><a href="/todos/<%= todo.id %>" class="delete" data-url="/todos/<%= todo.id %>" >Delete</a></li>
    <li><a href="/todos/<%= todo.id %>" class="complete" data-url="/todos/<%= todo.id %>">Complete</a></li>
  </ul>
</div>
